#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-board {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  opacity: 100%;
}

.disable_game-board {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  opacity: 50%;
}